/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-size: 16px;

  background-color: #e1e1e1;
}

.button {
  border-radius: 100px;
}

.redheart {
  color: #ff0000;
  font-size: 14px;
  font-family: 'arial unicode MS', arial, geneva, sans-serif;
}

.by-user {
  font-style: italic;
}

.error {
  border-radius: 6px;
  color: #a94442;
  border: 1px solid #ebccd1;;
  background-color: #f2dede;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading, .section-description {
  margin-bottom: 1.2rem;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}


/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mole-name {
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background-color: #eee;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.values {
  background-image: url('/molename/static/images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.value-heading {
  /*margin-bottom: .3rem;*/
}

.value-description {
  opacity: .8;
  font-weight: 300;
}

.values  input {
  color: #000;
}


/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.get-help {
  border-bottom: 1px solid #ddd;
}


/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.categories {
  background-image: url('/molename/static/images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}

.categories .section-description {
  margin-bottom: 4rem;
}


/* Language picker
https://codepen.io/axel1998/pen/RWOpXq
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.languagepicker {
	background-color: #FFF;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
	float: left;
}

.languagepicker:hover {
	/* don't forget the 1px border */
	height: 81px;
}

.languagepicker a{
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #EEE;
  margin: 0;
}

.languagepicker li:hover{
	background-color: #EEE;
}

.languagepicker li span {
	margin-right: 5px;
}

.languagepicker .language_icon {
	width: 24px;
  height: 20px;
}

.roundborders {
	border-radius: 5px;
}

.large {
  position: absolute;
  z-index: 999;
  right: 0px;
}

.large:hover {
	/*
	don't forget the 1px border!
	The first language is 40px heigh,
	the others are 41px
	*/
	height: 409px;
}


/* Bigger than 550 */

@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -5rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}


/* Bigger than 750 */

@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -10rem;
    right: 5rem;
    max-height: 510px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}


/* Bigger than 1000 */

@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -10rem;
    max-height: 615px;
  }
}
