{% extends "single.html" %}
{% block s_heading %}{{_('You have already voted')}}{% endblock %}
{% block s_content %}
    <h3 class="section-description">
      {{_('for <q>%(name)s</q> on %(vote_date)s at %(vote_time)s', name=name, vote_date=vote_datetime.strftime('%Y-%m-%d'), vote_time=vote_datetime.strftime('%H:%M'))}}.
    </h3>

    {% if new_name and name != new_name %}
    <h4 class="section-description">
      {{_('Do you want to change your vote for <q>%(new_name)s', new_name=new_name)}}</q>?
    </h4>
    <form method="POST">
      <input id="newNameInput" name="new_name" type="hidden" value="{{new_name}}" required>
      <input id="emailInput" name="email" type="hidden" value="{{email}}" required>
      <input id="changeVoteInput" name="change_vote" type="hidden" value="True" required>
      <input class="button-primary u-max-full-width" value="{{_('Yes, change my vote')}}" type="submit">
    </form>
    {% elif not validate_datetime %}
    <h4 class="section-description">
      {{_('Be careful you didn\'t validate your vote!')}}
    </h4>
    <a class="button button-primary" href="{{url_for('mail_again', email=email)}}">{{_('Send validation link again')}}</a>
    {% endif %}
{% endblock %}
