<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{_('GeoKrety Mascot name')}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('send_skeleton', path='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('send_skeleton', path='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('send_static', path='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for('send_static', path='css/flag-icon.min.css')}}">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{url_for('send_skeleton', path='images/favicon.png')}}">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% block content %}{% endblock %}

<div class="section">
  <div class="container">
    <h3 class="section-heading">{{_('A question?')}}</h3>
    <a href="mailto:geokrety@gmail.com?subject=%5BThe%20mole%20with%20no%20name%5D%20Contact%20" class="button button-primary">{{_('Contact us')}}</a>
  </div>
</div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.kumy.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '52']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.kumy.net/piwik.php?idsite=52&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>

</html>
