{% extends "base.html" %} {% block content %}
<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">{{_('Do you know the GeoKrety mascot name?')}}</h4>
        <a class="button button-primary" href="#opinion">{{_('No? Normal, It doesn\'t have one yet!')}}</a>
      </div>
      <div class="one-half column phones">
        <img class="phone" src="/static/images/the-mole.svg">
      </div>
    </div>
  </div>
</div>

<a id="opinion"></a>
<div class="section get-help values">
  <div class="container">
    <h3 class="section-heading">{{_('We need your opinion to choose one!')}}</h3>
    <p class="section-description">{{_('GeoKrety is nothing without you, and as a community we hear your voice. Make GeoKrety yours and vote for your favorite name!')}}</p>
    <a class="button button-primary" href="#vote">{{_('I want to vote!')}}</a>
  </div>
</div>
{%set step=1%}
<a id="vote"></a>
<div class="section">
  <div class="container">
    <h3 class="section-heading">{{_('Take part to the poll.')}}</h3>

    <p>{{_('The vote will take place in three steps.')}}</p>
    <ol>
      <li>{% if vote_step == '1' %}<b>&#8594;{% endif %}{{_('We collect your propositions')}}{% if vote_step == '1' %}&#8592;</b>{% endif %}</li>
      <li>{% if vote_step == '2' %}<b>&#8594;{% endif %}{{_('Selection by a comitee')}}{% if vote_step == '2' %}&#8592;</b>{% endif %}</li>
      <li>{% if vote_step == '3' %}<b>&#8594;{% endif %}{{_('You vote for your prefered name')}}{% if vote_step == '3' %}&#8592;</b>{% endif %}</li>
    </ol>

    <div class="row">
      {% for value in names %}
      <div class="one-third column value mole-name">
        <h2 class="value-multiplier">{{value.name}}</h2>
        {% if vote_step == '3' %}
        <h5 class="value-heading">{{'%0.2f'| format(value.rate|float)}}%</h5>
        <a class="button button-primary" href="{{url_for('vote', name=value.name)}}">{{_('Vote')}}</a>
        {% endif %}
        <p class="by-user">{{_('By %(username)s', username=value.username) }}</p>
      </div>
      {% if loop.index is divisibleby(3) %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
    {% if vote_step == '1' %}
    <div class="row">
      <div class="column value mole-name">
        <a class="button button-primary" href="{{url_for('propose_name')}}">{{_('Want to propose something else?')}}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="section categories">
  <div class="container">
    <h3 class="section-heading">{{_('Other community poll')}}</h3>
    <p class="section-description">{{_('We are also looking for your help for designing a nice official KretyCoin to celebrate our 10th aniversary.')}}</p>
    <a class="button button-primary" href="https://coins.geokrety.org">{{_('Let me give my opinion')}}</a>
  </div>
</div>
{% endblock %}
