{% extends "base.html" %}
{% block content %}
<div class="section values">
  <div class="container">
    <h1 class="section-heading">You have another idea?</h1>
    <img src="/static/images/the-mole.svg">

    <h3 class="section-description">Don't hesitate to submit your favorite and cute name.</h3>
    <form>
      <div class="row">
        <div class="six columns">
          <label for="newNameInput">Propose name</label>
          <input class="u-full-width" placeholder="I propose as the mascot name..." id="newNameInput" type="text" required>
        </div>
        <div class="six columns">
          <label for="emailInput">Your email</label>
          <input class="u-full-width" placeholder="test@mailbox.com" id="exampleEmailInput" type="email" required>
        </div>
      </div>

      <input class="button-primary u-max-full-width" value="Propose" type="submit">
    </form>
  </div>
</div>
{% endblock %}
