{% extends "single.html" %}
{% block s_heading %}Users propositions{% endblock %}
{% block s_content %}

<ul>
  {% for proposition in propositions %}
  <li>
    <a class="button button-primary" href="{{url_for('modaration_validate', password=password, id=proposition.id)}}">Validate</a>
    <a class="button button-primary" href="{{url_for('modaration_refuse', password=password, id=proposition.id)}}">Refuse</a>
    <q>{{ proposition.name }}</q> by <q>{{ proposition.username }}</q> ({{ proposition.email }})
  </li>
  {% endfor %}
</ul>
{% endblock %}
