{% extends "single.html" %}
{% block s_heading %}Users propositions{% endblock %}
{% block s_content %}

<ul>
  {% for proposition in propositions %}
  <li>
    <a class="button button-primary" href="/moderate/{{password}}/{{ proposition.id }}/validate">Validate</a>
    <a class="button button-primary" href="/moderate/{{password}}/{{ proposition.id }}/refuse">Refuse</a>
    <q>{{ proposition.name }}</q> by <q>{{ proposition.username }}</q> ({{ proposition.email }})
  </li>
  {% endfor %}
</ul>
{% endblock %}
