{% extends "single.html" %}
{% block s_heading %}You have another idea?{% endblock %}
{% block s_content %}
    <h3 class="section-description">Don't hesitate to submit your favorite and cute name.</h3>
    <form method="POST">
      <div class="row">
        <div class="four columns">
          <label for="newNameInput">I propose as the mascot name</label>
          <input class="u-full-width" placeholder="Some name" id="newNameInput" name="name" type="text" value="{{name}}" required>
        </div>
        <div class="four columns">
          <label for="usernameInput">Your username</label>
          <input class="u-full-width" placeholder="Username" id="usernameInput" name="username" type="text" value="{{username}}">
        </div>
        <div class="four columns">
          <label for="emailInput">Your email</label>
          <input class="u-full-width" placeholder="test@mailbox.com" id="emailInput" name="email" type="email" value="{{email}}" required>
        </div>
      </div>

      <input class="button-primary u-max-full-width" value="Propose" type="submit">
    </form>
{% endblock %}
