{% extends "base.html" %} {% block content %}
<div class="section values">
  <div class="container">
    <h1 class="section-heading">You're one step close to finish.</h1>
    <img src="/static/images/the-mole.svg">
    <h3>You want to call me <q>{{name}}</q></h3>

    <h4 class="section-description">Please enter your email and click the link in the mail you will receive to validate your choice.</h4>
    <form>
      <input class="u-full-width" placeholder="you@provider.net" id="emailInput" type="email" required>

      <input class="button-primary u-max-full-width" value="Send me the validation link" type="submit">
    </form>
  </div>
</div>
{% endblock %}
